doctype html
html(dir="ltr", lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Project Tracker Application")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title="Org Chart"
    link(rel="shortcut icon", href="/favicon.ico")
    //Internal CSS
    link(rel='stylesheet', href='/stylesheets/layout.css')

    //External JS
    script(src="/javascripts/external/jquery-3.4.1.min.js")
    //Internal JS
    script(src="/javascripts/layout.js")
  body
    block content
